* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #020617, #0f172a);
    text-align: center;
}

.hero h1 span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 15px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* About */
.about {
    padding: 80px 50px;
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.about img {
    width: 300px;
    border-radius: 10px;
}

/* Skills */
.skills {
    padding: 80px 50px;
    text-align: center;
}

.skill-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
}

/* Projects */
.projects {
    padding: 80px 50px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Contact */
.contact {
    padding: 80px 50px;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* Responsive */
@media(max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}
