* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* Navbar */
header {
    background: #020617;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.hero h1 {
    font-size: 50px;
}

.hero span {
    color: #38bdf8;
}

.hero h3 {
    margin: 10px 0;
    color: #94a3b8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 10px;
}

.secondary {
    background: transparent;
    border: 2px solid #38bdf8;
    color: white;
}

/* Sections */
section {
    padding: 60px;
}

.skills .skill-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skill-box div {
    background: #1e293b;
    padding: 10px 20px;
    border-radius: 8px;
}

.projects .project-card {
    background: #1e293b;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
